<%- include('../components/navbar.html') %>
<div>
	  <main class="w-full">
		<section id="intro" class="section flex flex-col justify-center items-center px-4">
		  <div class="text-center mx-auto">
			<h1 class="text-4xl md:text-6xl font-bold mb-6 text-white"><%= jsonLanguage.about.title %></h1>
			<div class="wrapper flex justify-center items-center flex-wrap">
			  <div class="static-txt mr-4"><%= jsonLanguage.about.welcome %></div>
			  <div id="dynamic-txts" class="text-left">
				<ul>
				  <li><span>Miguel Simao</span></li>
				  <li><span>Jean-Baptiste Renier</span></li>
				  <li><span>Matéo Le Bras Sancho</span></li>
				</ul>
			  </div>
			</div>
			
			<p class="mt-8 text-xl text-gray-300"><%= jsonLanguage.about.more %></p>
			
			<div class="mt-12 animate-bounce">
			  <svg class="w-6 h-6 mx-auto text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
			  </svg>
			</div>
		  </div>
		</section>
	
		<section id="miguel" class="section flex flex-col justify-center items-center px-4 text-white">
		  <div class="content max-w-4xl mx-auto text-center">
			<h2 class="text-3xl md:text-5xl font-bold mb-8 text-white">Miguel Simao</h2>
			
			<div class="flex flex-col md:flex-row justify-center items-center gap-8">
			  <div class="md:w-1/2">
				<img src="../public/images/miguel.jpg" alt="Miguel Simao" class="profile-img mx-auto">
			  </div>
			  
			  <div class="md:w-1/2 text-left mt-6 md:mt-0">
				<h3 class="text-2xl font-semibold mb-4 text-primary"><%= jsonLanguage.about.titleMiguel %></h3>
				<p class="text-lg text-gray-300 mb-4">...</p>
				<p class="text-lg text-gray-300">...</p>
			  </div>
			</div>
			<div class="flex justify-center items-center gap-4 mt-4">
				<a href="https://www.linkedin.com/in/miguel-simao-4a5a38238/" target="_blank">
					<img src="../public/images/linkedin.png" class="social-image">
				</a>
				<a href="https://github.com/msima0" target="_blank">
					<img src="../public/images/github.jpg" class="social-image">
				</a>
				<a href="https://profile.intra.42.fr/users/msimao" target="_blank">
					<img src="../public/images/42_logo.png" class="social-image">
				</a>
			  </div>
		  </div>
		</section>
	
		<section id="jb" class="section flex flex-col justify-center items-center px-4 text-white">
		  <div class="content max-w-4xl mx-auto text-center">
			<h2 class="text-3xl md:text-5xl font-bold mb-8 text-white">Jean-Baptiste Renier</h2>
			
			<div class="flex flex-col md:flex-row justify-center items-center gap-8">
			  <div class="md:w-1/2 order-2 md:order-1 text-left mt-6 md:mt-0">
				<h3 class="text-2xl font-semibold mb-4 text-primary"><%= jsonLanguage.about.titleJb %></h3>
				<p class="text-lg text-gray-300 mb-4">...</p>
				<p class="text-lg text-gray-300">...</p>
			  </div>
			  
			  <div class="md:w-1/2 order-1 md:order-2">
				<img src="../public/images/jb.jpg" alt="Jean-Baptiste Renier" class="profile-img mx-auto">
			  </div>
			</div>
			<div class="flex justify-center items-center gap-4 mt-4">
				<a href="https://www.linkedin.com/in/jbrenier/" target="_blank">
					<img src="../public/images/linkedin.png" class="social-image">
				</a>
				<a href="https://github.com/JeanBRen" target="_blank">
					<img src="../public/images/github.jpg" class="social-image">
				</a>
				<a href="https://profile.intra.42.fr/users/jrenier" target="_blank">
					<img src="../public/images/42_logo.png" class="social-image">
				</a>
			  </div>
		  </div>
		</section>
	
		<section id="mateo" class="section flex flex-col justify-center items-center px-4 text-white">
		  <div class="content max-w-4xl mx-auto text-center">
			<h2 class="text-3xl md:text-5xl font-bold mb-8 text-white">Matéo Le Bras Sancho</h2>
			
			<div class="flex flex-col md:flex-row justify-center items-center gap-8">
			  <div class="md:w-1/2">
				<img src="../public/images/mateo.jpg" alt="Matéo Le Bras Sancho" class="profile-img mx-auto">
			  </div>
			  
			  <div class="md:w-1/2 text-left mt-6 md:mt-0">
				<h3 class="text-2xl font-semibold mb-4 text-primary"><%= jsonLanguage.about.titleMateo %></h3>
				<p class="text-lg text-gray-300 mb-4">...</p>
				<p class="text-lg text-gray-300">...</p>
			  </div>
			</div>
			<div class="flex justify-center items-center gap-4 mt-4">
				<a href="https://www.linkedin.com/in/MateoLBS" target="_blank">
					<img src="../public/images/linkedin.png" class="social-image">
				</a>
				<a href="https://github.com/MatLBS" target="_blank">
					<img src="../public/images/github.jpg" class="social-image">
				</a>
				<a href="https://profile.intra.42.fr/users/matle-br" target="_blank">
					<img src="../public/images/42_logo.png" class="social-image">
				</a>
			  </div>
		  </div>
		</section>
	  </main>
</div>
