<%- include('../components/navbar.html') %>

<div id="pong-homepage">
	<div id="welcome-div" class="justify-center">
		<h1><%= jsonLanguage.home.title %></h1>
	</div>
	<div class="flex justify-center items-center">
		<div id="rules-div">
			<h2 id="objectives_home"><%= jsonLanguage.home.objectives%></h2>
			<ul>
				<li><%= jsonLanguage.home.objectives_1%></li>
				<li><%= jsonLanguage.home.objectives_2%></li>
				<li><%= jsonLanguage.home.objectives_3%></li>
				<li><%= jsonLanguage.home.objectives_4%></li>
			</ul>
			<h2><%= jsonLanguage.home.controles%></h2>
			<ul>
				<li><%= jsonLanguage.home.controles_1%></li>
				<li><%= jsonLanguage.home.controles_2%></li>
			</ul>
			<h2><%= jsonLanguage.home.modes%></h2>
			<ul>
				<li><%= jsonLanguage.home.modes_1%></li>
				<li><%= jsonLanguage.home.modes_2%></li>
				<li><%= jsonLanguage.home.modes_3%></li>
			</ul>
		</div>
	</div>
	<div class="action-buttons">
		<% if (isConnected) { %>
			<a id="play-button" class="my link-button" href="/game"><%= jsonLanguage.home.play%></a>
		<% } else { %>
		<a id="signup-button" class="my link-button" href="/login"><%= jsonLanguage.home.signup%></a>
		<% } %>
	</div>
</div>