<%- include('../components/navbar.html') %>
<section class="wrapper">
	<div id="stars"></div>
	<div id="stars2"></div>
	<div id="stars3"></div>
	<div id="title">
	</div>
</section>
<div class="login">
	<div action="" class="login__form">
		<h1 class="login__title"><%= jsonLanguage.login.title %></h1>
		<div id="error_input" class="mb-5 text-red-600"></div>

		<div class="login__content">
			<div>
				<i class="bx bx-lock-alt"></i>
				<div class="login__box">
					<div class="login__box-input">
						<input type="text" id="username_login" required class="login__input" placeholder="">
						<label for="" class="login__label"><%= jsonLanguage.login.username %></label>
					</div>
				</div>
			</div>

			<div class="login__box flex align-center">
				<div class="w-11/12">
					<i class="ri-lock-2-line login__icon"></i>
					<div class="login__box-input">
						<input type="password" required class="login__input" id="password_login" placeholder="">
						<label for="" class="login__label"><%= jsonLanguage.login.password %></label>
						<i class="ri-eye-off-line login__eye"></i>
					</div>
				</div>
				<div class="w-1/12 flex items-center justify-center">
					<span class="material-symbols-outlined text-right" id="login-eye">visibility_off</span>
				</div>
			</div>
		</div>

		<button type="submit" id="confirm_login" class="login__button text-black"><%= jsonLanguage.login.button %></button>
		<button id="login_button_google" class="login__button text-black text-center flex items-center">
			<img src="../public/images/google-sign-in.webp" alt="google-sign-in" class="w-12">
			<p class=" w-2/3"><%= jsonLanguage.login.google %></p>
		</button>

		<p class="login__register">
			<%= jsonLanguage.login.register_p %> <a class="my" href="/register"><%= jsonLanguage.login.register_a %></a>
		</p>
	</div>
</div>
<%- include('../components/modal.html') %>
