<div class="header__wrapper">
	<button id="open-friends" class="btn-abs">Friends</button>
	<header></header>
	<div class="user__infos__container items-center">
		<div class="user__infos">
			<div class="img__container">
				<img
					src="<%= user.profilePicture %>"
					alt="Photo de profil de <%= user.username %>"
					style="max-width: 400px;"
				/>
			</div>
			<h2 id="username" class="underline">
				<%= user.username %>
			</h2>
		</div>
	</div>
	<h2 class="stats__title text-center pb-5"><%= jsonLanguage.profil.statistics %></h2>
	<div class="stats flex justify-center align-center gap-16">
		<div id="match__history" class="w-2/5 border-2 border-gray-300">
			<h2 class="text-center p-5"><%= jsonLanguage.profil.matchHistory %></h2>
			<div class="flex justify-around align-center text-center underline m-2">
				<p class="w-1/6"><%= jsonLanguage.profil.type %></p>
				<p class="w-2/6"><%= jsonLanguage.profil.winner %></p>
				<p class="w-2/6"><%= jsonLanguage.profil.loser %></p>
				<p class="w-1/6"><%= jsonLanguage.profil.score %></p>
			</div>
		</div>
		<div id="graphs" class="w-2/5 border-2 border-gray-300">
			<h2 class="text-center p-5"><%= jsonLanguage.profil.graphics %></h2>
			<div class="">
				<div>
					<div class="flex justify-center items-center rounded-full p-2 text-center my-5">
						<div class="text-center m-5 underline"><%= jsonLanguage.profil.global %></div>
						<span class="material-icons pl-5" id="global">expand_more</span>
					</div>
					<div class="flex justify-center items-center" id="divGlobal">
						<div class="chart-wrapper">
							<canvas id="globalBarChart"></canvas>
						</div>
						<div class="chart-wrapper">
							<canvas id="globalChart" ></canvas>
						</div>
					</div>
				</div>
				<div>
					<div class="flex justify-center items-center rounded-full p-2 text-center my-5">
						<p class="underline"><%= jsonLanguage.profil.local %></p>
						<span class="material-icons pl-5" id="local">expand_more</span>
					</div>
					<div class="hidden flex justify-center items-center" id="divLocal">
						<div class="chart-wrapper">
							<canvas id="localBarChart"></canvas>
						</div>
						<div class="chart-wrapper">
							<canvas id="localChart" ></canvas>
						</div>
					</div>
				</div>
				<div>
					<div class="flex justify-center items-center rounded-full p-2 text-center my-5">
						<p class="text-center m-5 underline"><%= jsonLanguage.profil.solo %></p>
						<span class="material-icons pl-5" id="solo">expand_more</span>
					</div>
					<div class="hidden flex justify-center items-center" id="divSolo">
						<div class="chart-wrapper">
							<canvas id="soloBarChart"></canvas>
						</div>
						<div class="chart-wrapper">
							<canvas id="soloChart" ></canvas>
						</div>
					</div>
				</div>
				<div>
					<div class="flex justify-center items-center rounded-full p-2 text-center my-5">
						<p class="text-center m-5 underline"><%= jsonLanguage.profil.tournament %></p>
						<span class="material-icons pl-5" id="tournament">expand_more</span>
					</div>
					<div class="hidden" id="divTournament">
						<div class="chart-wrapper">
							<canvas id="tournamentBarChart"></canvas>
						</div>
						<div class="chart-wrapper">
							<canvas id="tournamentChart" ></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<a class="my" href="/update"><%= jsonLanguage.profil.update %></a>

<div id="container">
	<h1 id="friend-title">Ma Liste d’Amis</h1>
	<button id="close-friends">X</button>
	<ul class="friends-list">
	<% friends.forEach(friend => { %>
		<a class="my" href="/users/<%= friend.username %>">
			<li class="friend-card">
				<div class="avatar">
					<img src="<%= friend.profilePicture %>" alt="Photo de profil de <%= friend.username %>">
					<span class="status <%= friend.isOnline ? 'online' : 'offline' %>"></span>
				</div>
				<div class="info">
					<h2><%= friend.username %></h2>
					<p class="sub-text"><%= friend.isOnline ? 'En ligne' : 'Hors ligne' %></p>
				</div>
				<button class="btn remove-friend" data-username="<%= friend.username %>">
					<svg width="16" height="16" viewBox="0 0 24 24"><path d="M3 6h18v2H3V6zm2 4h14v2H5v-2zm2 4h10v2H7v-2z"/></svg>
					Retirer
				</button>
			</li>
		</a>
	<% }); %>
	</ul>
</div>
