<div class="header__wrapper">
	<header></header>
	<div class="user__infos__container items-center">
		<div class="user__infos">
			<div class="img__container">
				<img
					src="/uploads/<%= user.profilePicture %>"
					alt="Photo de profil de <%= user.username %>"
					style="max-width: 400px;"
				/>
			</div>
			<h2 id="username" class="underline">
				<%= user.username %>
			</h2>
		</div>
	</div>
	<h2 class="stats__title text-center"><%= jsonLanguage.profil.statistics %></h2>
	<div class="stats flex justify-center align-center gap-16">
		<div id="match__history" class="w-2/5 border-2 border-gray-300">
			<h2 class="text-center p-5"><%= jsonLanguage.profil.matchHistory %></h2>
			<div class="flex justify-around align-center">
				<div id="match__results"><%= jsonLanguage.profil.result %></div>
				<div id="match__scores"><%= jsonLanguage.profil.score %></div>
				<div id="match__opponents"><%= jsonLanguage.profil.opponent %></div>
			</div>
		</div>
		<div id="graphs" class="w-2/5 border-2 border-gray-300">
			<h2 class="text-center p-5"><%= jsonLanguage.profil.graphics %></h2>
			<div class="flex justify-around align-center">
				<div id="global_graphs"></div>
			</div>
		</div>
	</div>
</div>
<a class="my" href="/update"><%= jsonLanguage.profil.update %></a>
