<%- include('../components/navbar.html') %>
<section class="wrapper">
	<div id="stars"></div>
	<div id="stars2"></div>
	<div id="stars3"></div>
	<div id="title">
	</div>
</section>
<div class="register">
	<div action="" class="register__form">
		<h1 class="register__title"><%= jsonLanguage.register.title %></h1>
		<div id="error_input" class="text-red-600"></div>

		<div class="register__content">
			<div>
				<i class="bx bx-lock-alt"></i>
				<div class="register__box">
					<div class="register__box-input">
						<input type="text" id="username_register" required class="register__input" placeholder="">
						<label for="" class="register__label"><%= jsonLanguage.register.username %></label>
					</div>
				</div>
			</div>

			<div class="register__content">
				<div>
					<i class="bx bx-lock-alt"></i>
					<div class="register__box">
						<div class="register__box-input">
							<input type="email" id="email_register" required class="register__input" placeholder="">
							<label for="" class="register__label"><%= jsonLanguage.register.email %></label>
						</div>
					</div>
				</div>

				<div class="register__box flex align-center">
					<div class="w-11/12">
						<i class="ri-lock-2-line register__icon"></i>
						<div class="register__box-input">
							<input type="password" required class="register__input" id="password_register" placeholder="">
							<label for="" class="register__label"><%= jsonLanguage.register.password %></label>
							<i class="ri-eye-off-line register__eye"></i>
						</div>
					</div>
					<div class="w-1/12 flex items-center justify-center">
						<span class="material-symbols-outlined text-right" id="register-eye">visibility_off</span>
					</div>
				</div>

				<div class="register__content">
					<div>
						<i class="bx bx-lock-alt"></i>
						<div class="register__box-input">
							<input type="file" id="profile_picture" class="register__input hidden" name="profile_picture" accept="image/*">
							<input type="file" id="bg_picture" class="register__input hidden" name="bg_picture" accept="image/*">
						</div>
					</div>
				</div>

				<div class="flex justify-center relative pb-2">
					<img
						src="../public/images/profil_bg.jpeg"
						id="preview_image_bg"
						class="background_image profile-image rounded-xl relative"
						style="max-width: 200px;"
					/>
					<img
						src="../public/images/flamme.png"
						id="preview_image_profil"
						class="profil_image profile-image rounded-full h-16 w-auto"
						style="max-width: 200px;"
					/>
					<span class="material-symbols-outlined bg-gray-500 rounded-full hover:scale-125" id="upload_icon_profil">add</span>
					<span class="material-symbols-outlined bg-gray-500 rounded-full hover:scale-125" id="upload_icon_bg">add</span>
				</div>
			</div>
			<div>
				<label>
					<input type="checkbox" name="two_factor_register" id="two_factor_register" class="register__checkbox">
					<%= jsonLanguage.update.twoFA %>
				</label>
			</div>

			<button id="confirm_button" class="register__button text-black text-center"><%= jsonLanguage.register.button %></button>
			<button id="register_button_google" class="register__button text-black text-center flex items-center">
				<img src="../public/images/google-sign-in.webp" alt="google-sign-in" class="w-12">
				<p class="w-2/3"><%= jsonLanguage.register.google %></p>
			</button>
		</div>
	</div>
</div>
<%- include('../components/modal.html') %>
